
/*
Chat Style
*/
.chat-window{
	min-height: 500px;
	bottom:0;
	position:fixed;
	float:right;
	margin-left:10px;
}
.chat-window > div > .panel{
	border-radius: 5px 5px 0 0;
}
.icon_minim{
	padding:2px 10px;
}
.msg_container_base{
	background: #e5e5e5;
	margin: 0;
	padding: 0 10px 10px;
	max-height:300px;
	overflow-x:hidden;
	min-height: 500px;
}
.top-bar {
	background: #666;
	color: white;
	padding: 10px;
	position: relative;
	overflow: hidden;
}
.msg_receive{
	padding-left:0;
	margin-left:0;
}
.msg_sent{
	padding-bottom:20px !important;
	margin-right:0;
}
.messages {
	background: white;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
	max-width:100%;
}
.messages > p {
	font-size: 13px;
	margin: 0 0 0.2rem 0;
}
.messages > time {
	font-size: 11px;
	color: #ccc;
}
.msg_container {
	padding: 10px;
	overflow: hidden;
	display: flex;
}
img {
	display: block;
	width: 100%;
}
.avatar {
	position: relative;
}
.base_receive > .avatar:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border: 5px solid #FFF;
	border-left-color: rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
	justify-content: flex-end;
	align-items: flex-end;
}
.base_sent > .avatar:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0;
	border: 5px solid white;
	border-right-color: transparent;
	border-top-color: transparent;
	box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
	float: right;
}

.msg_container_base::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.btn-group.dropup{
	position:fixed;
	left:0px;
	bottom:0;
}

.paddingLeftZero{
	padding-left: 0;
}

.form-group.form-days > div >div, a{
	font-weight: bold;
	font-size: 14px;
}
.form-group.form-days > div >div >div{
	text-align: center;
}

@media only screen and (min-width : 1200px) { 
	.form-group.form-days > div >div >div > input{
		font-size: 11px;
		text-align: center;
	}
}

@media only screen and (min-width : 1824px) {
	.form-group.form-days > div >div >div > input{
		font-size: 15px;
		text-align: center;
	}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

	.form-group.form-days > div >div >div > input{
			text-align: left;
		}

}
.range{
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}
.endhour,.starthour{
	padding-left: 0px;
	padding-right: 0px;
}
.paddingtop{
	padding-top: 15px;
}
.paddingtopimg{
	padding-top: 32px;
}
.imgArea{
  background: url("../components/app-data/img/branches/silueta.png");/*background-color: #ddd; Antes*/
  border: 0px solid #a1a1a1;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 6px 6px 4px #888888;

  /*antes
  border: 2px solid #a1a1a1;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888;
  */
}
.imgArea,.imgArea>img {
  width: 200px;
  height: 200px;
}
.grid {
  width: 500px;
  height: 400px;
}
.marginbutton button{
	margin-bottom: 5px !important;
	margin-top: 5px !important;
}

.maplist{
  	min-height: 600px;
}

@media (min-width: 768px) { 
		.maplist{
	  	min-height: 400px !important;
	}
}
 
@media (min-width: 1024px) { 
	.maplist{
	  	min-height: 450px !important;
	}
}
 

@media (min-width: 1200px) { 
	.maplist{
	  	min-height: 550px !important;
	}
}