<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Editar Promoci&oacute;n</strong>
                </div>
                <div class="panel-body">

                    <form name="promotionForm"
                          ng-submit="update(promotion)">

                        <div class="form-group">
                            <label class="control-label">Titulo Promoción</label><br>
                            <input class="form-control" type="text" placeholder="T&iacute;tulo" name="title"
                                   ng-model="promotion.title" required/>

                        </div>

                        <div class="form-group">

                            <div class="col-md-6 form-inline spacer-bottom">
                                <label class="control-label"><i class="fa fa-calendar"></i> Fecha Inicio</label><br>
                                <div class="form-group">
                                    <input type="text" size="10" class="form-control" ng-model="promotion.start_date"
                                           data-autoclose="1" placeholder="Fecha" bs-datepicker>
                                </div>
                                <div class="form-group">
                                    <input type="text" size="8" class="form-control" ng-model="promotion.start_date"
                                           data-autoclose="1" placeholder="Hora" bs-timepicker>
                                </div>
                            </div>

                            <div class="col-md-6 form-inline spacer-bottom">
                                <label class="control-label"><i class="fa fa-calendar"></i> Fecha Final</label><br>
                                <div class="form-group">
                                    <input type="text" size="10" class="form-control" ng-model="promotion.expiration_date"
                                           data-autoclose="1" placeholder="Fecha" bs-datepicker>
                                </div>
                                <div class="form-group">
                                    <input type="text" size="8" class="form-control" ng-model="promotion.expiration_date"
                                           data-autoclose="1" placeholder="Hora" bs-timepicker>
                                </div>
                            </div>

                        </div>

                        <div class="form-group form-inline">



                        </div>

                        <div class="form-group">
                            <label class="control-label">Sucursales aplicables</label><br>

                            <div multi-select
                                 input-model="branches"
                                 button-label="name"
                                 item-label="name"
                                 tick-property="ticked">
                            </div>

                        </div>

                        <div class="form-group spacer-bottom">

                            <label class="control-label">Seleccione la imagen promocional: </label>

                            <p><input type="file" ng-file-select ng-model="promotion.image"
                                      accept="image/*" ng-file-change="generateThumb(promotion.updated_image, $files)"></p>

                        </div>

                        <div class="form-group">
                            <a href="#/promotions" class="btn btn-info submit-button-text pull-left" role="button">Cancelar</a>
                            <input type="submit" class="btn btn-primary submit-button-text"
                                   value="Actualizar"/>

                        </div>



                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="wizard-phoneBackground">

                <div class="wizard-phoneContainer">

                    <img src="components/app-data/img/promotion/promotion-header.png"
                         class='phone-header-image'/>

                    <div class="phone-container-image">

                        <img ng-if="promotion.image == undefined"
                             src="components/app-data/img/promotion/proposal-02.png"
                             alt="Image de fondo"
                             class="img-responsive phone-promotion-image"/>
                        <img ng-if="promotion.image"
                             ng-src="{{promotion.image}}" alt="Image de fondo"
                             class="img-responsive phone-promotion-image"/>
                        <img ng-if="promotion.updated_image.dataUrl != undefined"
                             ng-src="{{promotion.updated_image.dataUrl}}" alt="Image de fondo"
                             class="img-responsive phone-promotion-image"/>

                    </div>

                </div>

            </div>
        </div>

    </div>
</div>