<div class="container-fluid">
    <div class="row-fluid">

        <a href="#/promotions/new" class="btn btn-primary btn-header">Ingresar Nueva Promoción</a>
        <a href="#/adwords/new" class="btn btn-primary btn-header">Contratar Adwords</a>

        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <strong>Promociones</strong>
            </div>
            <div class="panel-body">

                <table ng-table class="table table-striped">

                    <thead>
                        <th class="col-sm-1">Fecha Inicio</th>
                        <th class="col-sm-1">Fecha Finalización</th>
                        <th class="col-sm-3">Descripción</th>
                        <th class="col-sm-1">Códigos Generados</th>
                        <th class="col-sm-1">Códigos Utilizados</th>
                        <th class="col-sm-1">Alcance Visitas</th>
                        <th class="col-sm-5">Opciones</th>

                    </thead>

                    <tr ng-repeat="promotion in promotions">
                        <td class="text-center">{{promotion.start_date | date:'shortDate' }}</td>
                        <td class="text-center">{{promotion.expiration_date | date: 'shortDate'}}</td>
                        <td>
                            <img class="promotion-image" ng-src="{{promotion.image}}"/> {{promotion.title}}
                        </td>
                        <td class="text-center">{{promotion.issued_coupons}}</td>
                        <td class="text-center">{{promotion.claimed_coupons}}</td>
                        <td class="text-center">{{promotion.visits_count}}</td>
                        <td>
                            <button class="btn btn-sm btn-info spacer-bottom-sm"
                                    ng-click="increaseExpiration(promotion)">Ampliar vigencia
                            </button>
                            <button class="btn btn-sm btn-info spacer-bottom-sm"
                                    ng-click="increaseCoupons(promotion)">Generar más códigos
                            </button>
                            <button class="btn btn-sm btn-info"
                                    ng-click="edit(promotion)">Editar
                            </button>
                            <button class="btn btn-sm btn-danger"
                                    ng-click="delete(promotion)">Eliminar
                            </button>
                        </td>
                    </tr>
                </table>

                <div class="col-md-4 col-md-offset-4">
                    <div class="panel status panel-info">
                        <div class="panel-heading">
                            <h1 class="panel-title text-center">{{totalViewScope}}</h1>
                        </div>
                        <div class="panel-body text-center">
                            <strong>Alcance visitas promociones</strong>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="expand-promotion-modal">
    <form class="container-fluid container-md-height"
          ng-submit="updateExpirationDate()">

        <br/>

        <div class="row row-md-height">
            <div class="form-group form-inline">
                <label class="col-sm-6 control-label">Nueva fecha de expiración:</label>
                <div class="form-group">
                    <input type="text" size="10" class="form-control" ng-model="newExpirationDate"
                           data-autoclose="1" minDate="promotionMinDate" placeholder="Fecha" bs-datepicker>
                </div>
                <div class="form-group">
                    <input type="text" size="8" class="form-control" ng-model="newExpirationDate"
                           data-autoclose="1" placeholder="Hora" bs-timepicker>
                </div>

            </div>
        </div>

        <br/>

        <div class="row row-md-height">
            <div class="col-md-6 text-left">
                <a class="btn btn-sm btn-flat btn-danger" ng-click="closeThisDialog()">Cancelar</a>
                <button type="submit" class="btn btn-sm btn-flat btn-success">Actualizar</button>
            </div>
        </div>

    </form>
</script>

<script type="text/ng-template" id="expand-promotion-codes-modal">
    <form class="container-fluid container-md-height"
          ng-submit="increaseCoupons()">

        <br/>

        <div class="row row-md-height">
            <div class="form-group form-inline">
                <label class="col-sm-6 control-label">Cantidad de cupones a incrementar:</label>
                <input type="number" autocomplete='off' size='3' ng-minlength="0" ng-model="increaseBy" required>
            </div>
        </div>

        <br/>

        <div class="row row-md-height">
            <div class="col-md-6 text-left">
                <a class="btn btn-sm btn-flat btn-danger" ng-click="closeThisDialog()">Cancelar</a>
                <button type="submit" class="btn btn-sm btn-flat btn-success">Generar</button>
            </div>
        </div>

    </form>
</script>