<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <strong>Ingresar Nueva Promoción</strong>
                </div>
                <div class="panel-body">

                    <form name="promotionForm"
                          ng-submit="createPromotion(promotion)">

                        <div class="form-group">
                            <label class="control-label">Titulo Promoción</label><br>
                            <input class="form-control" type="text" placeholder="T&iacute;tulo" name="title"
                                   ng-model="promotion.title" required/>

                        </div>

                        <div class="form-group form-inline">
                            <label class="control-label"><i class="fa fa-calendar"></i> Fecha Inicio</label><br>

                            <div class="form-group">
                                <input type="text" size="10" class="form-control" ng-model="promotion.start_date"
                                       data-autoclose="1" placeholder="Fecha" bs-datepicker>
                            </div>
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" ng-model="promotion.start_date"
                                       data-autoclose="1" placeholder="Hora" bs-timepicker>
                            </div>

                        </div>

                        <div class="form-group form-inline">
                            <label class="control-label"><i class="fa fa-calendar"></i> Fecha Final</label><br>

                            <div class="form-group">
                                <input type="text" size="10" class="form-control" ng-model="promotion.expiration_date"
                                       data-autoclose="1" placeholder="Fecha" bs-datepicker>
                            </div>
                            <div class="form-group">
                                <input type="text" size="8" class="form-control" ng-model="promotion.expiration_date"
                                       data-autoclose="1" placeholder="Hora" bs-timepicker>
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label">Sucursales aplicables</label><br>

                            <div multi-select
                                 input-model="branches"
                                 button-label="name"
                                 item-label="name"
                                 tick-property="ticked">
                            </div>

                        </div>

                        <div class="form-group">
                            <label class="control-label">Cantidad de cupones a generar</label><br>

                            <input type="number" class='form-control' max="40000" min="0"
                                   ng-model="promotion.issued_coupons" required>

                        </div>


                        <div class="form-group">
                            <label class="control-label">Seleccione la imagen promocional: </label>

                            <p><input type="file" ng-file-select ng-model="promotion.image"
                                      accept="image/*" ng-file-change="generateThumb(promotion.image, $files)"></p>

                        </div>

                        <input type="submit" class="btn btn-primary submit-button-text btn-block btn-lg"
                               value="Agregar"/>

                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="wizard-phoneBackground">

                <div class="wizard-phoneContainer">

                    <img src="components/app-data/img/promotion/promotion-header.png"
                         class='phone-header-image'/>

                    <div class="phone-container-image">

                        <img ng-if="promotion.image.dataUrl == undefined"
                             class="img-responsive img-responsive-center"
                             src="components/app-data/img/promotion/proposal-02.png"/>

                        <img ng-if="promotion.image.dataUrl != undefined"
                             class="img-responsive phone-promotion-image"
                             src="{{promotion.image.dataUrl}}"/>

                    </div>

                </div>

            </div>
        </div>



    </div>
</div>