<div class="space-before-lg row col-sm-10 col-sm-offset-1">

    <div class="form-box ">

        <div class="header tattler-background">
            <img src="components/app-data/img/login/logoTattler.png" alt="tattler">
        </div>

        <div class="body">

            <div class="row text-center spacer-bottom-lg text-tattler-blue">

                <h2>Bienvenido a Tattler Empresas</h2>

                <p>Necesitamos que completes la información de tu empresa, para poder brindarte los mejores
                    resultados.</p>

            </div>

            <div class="row stepwizard col-sm-10 col-sm-offset-1 spacer-bottom-lg">
                <div class="stepwizard-row setup-panel">
                    <div class="stepwizard-step">
                        <button type="button"
                                ng-class="{'btn btn-primary btn-circle': step >= 1, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 1}">
                            1
                        </button>
                        <p>Información Empresa</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button"
                                ng-class="{'btn btn-primary btn-circle': step >= 2, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 2}">
                            2
                        </button>
                        <p>Sucursales</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button"
                                ng-class="{'btn btn-primary btn-circle': step >= 3, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 3}">
                            3
                        </button>
                        <p>Promociones</p>
                    </div>
                    <div class="stepwizard-step">
                        <button type="button"
                                ng-class="{'btn btn-primary btn-circle': step >= 4, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 4}">
                            4
                        </button>
                        <p>Tattler Adwords</p>
                    </div>
                </div>
            </div>

            <div class="row">

                <!--Step 1-->
                <div class="row setup-content col-sm-10 col-sm-offset-1" id="step-1" ng-show="isStep(1)">

                    <div class="row spacer-bottom">
                        <div class="col-md-8">

                            <div class="spacer-bottom-lg"></div>

                            <form>

                                <div class="form-group">
                                    <label class="control-label">Logotipo de tu empresa: </label>

                                    <p><input type="file" id="profileInput" ng-file-select
                                              accept="image/*"
                                              ng-file-change="generateCrop(company.updated_profile_image, $files)">
                                    </p>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Fondo de empresa: </label>

                                    <p><input type="file" id="backgroundInput" ng-file-select
                                              ng-model="company.backgroundImage"
                                              accept="image/*"
                                              ng-file-change="generateThumb(company.updated_background_image, $files)"></p>
                                </div>

                                <div class="form-group">
                                    <label for="description" class="control-label">Descripción: <p
                                            class="text-tattler-blue">Aquí menciona tu productos, y presume tu negocio.</p>
                                    </label>
                        <textarea id="description" class="form-control" rows="3" style="resize:none"
                                  ng-model="company.description"></textarea>
                                </div>

                            </form>
                        </div>

                        <div class="col-md-4">
                            <div class="wizard-phoneBackground">
                                <div class="wizard-phoneContainer">

                                    <img ng-if="company.background_image == undefined"
                                         src="components/app-data/img/company/profile-background-placeholder.png"
                                         alt="Image de fondo"
                                         class='profile-background-image'/>
                                    <img ng-if="company.updated_background_image.dataUrl == undefined"
                                         ng-src="{{company.background_image}}" alt="Image de fondo"
                                         class='profile-background-image'/>
                                    <img ng-if="company.updated_background_image.dataUrl != undefined"
                                         ng-src="{{company.updated_background_image.dataUrl}}" alt="Image de fondo"
                                         class='profile-background-image'/>

                                    <div class="profile-image">
                                        <img ng-if="company.profile_image == undefined"
                                             src="components/app-data/img/company/profile-picture.png"
                                             alt="Image de perfil"
                                             class='img img-responsive full-width'/>
                                        <img ng-if="company.updated_profile_image == undefined"
                                             ng-src="{{company.profile_image}}" alt="Image de perfil"
                                             class='img img-responsive full-width'/>
                                        <img ng-if="company.updated_profile_image != undefined"
                                             ng-src="{{company.updated_profile_image}}" alt="Image de perfil"
                                             class='img img-responsive full-width'/>
                                    </div>

                                    <div class='description-text'>
                                        {{company.description}}
                                    </div>

                                </div>
                            </div>

                            <!--<pre>{{company | json}}</pre>-->

                        </div>
                    </div>

                    <div class="row spacer-bottom-lg col-md-10 col-md-offset-1">
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btn-block pull-right" ng-click="updateCompany()">
                                Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                            </button>
                        </div>
                    </div>

                </div>
                <!--Step 1-->

                <!--Step 2-->
                <div class="row setup-content" id="step-3" ng-show="isStep(2)">

                    <div class="col-md-10 col-md-offset-1">

                        <div class="panel-header spacer-bottom-lg">

                            <div class="row">
                                <div class="text-center spacer-bottom-lg text-tattler-blue">
                                    <p><strong>Es el momento para agregar tus sucursales, así tus clientes sabrán dónde
                                        encontrarte.</strong></p>
                                </div>
                            </div>

                            <div class="row text-right ">
                                <button class="btn btn-sm btn-info" bs-tooltip="new_branch_tooltip"
                                        ng-click="newBranch()">Nueva sucursal
                                </button>
                            </div>

                        </div>

                        <table ng-table class="table table-striped">

                            <thead>
                            <th class="col-sm-1">Nombre</th>
                            <th class="col-sm-1">Administrador</th>
                            <th class="col-sm-1">Opciones</th>
                            </thead>

                            <tr ng-repeat="branch in branches">

                                <td class="text-center">{{branch.name }}</td>
                                <td class="text-center">{{branch.manager.name}} {{branch.manager.last_name}}</td>
                                <td class="text-center">
                                    <button class="btn btn-sm btn-danger"
                                            ng-click="deleteBranch(branch)">Eliminar
                                    </button>
                                </td>
                            </tr>
                        </table>

                        <div class="row space-before-lg">
                            <div class="text-left">
                                <button type="button" class="btn btn-primary pull-left" ng-click="setStep(1)">
                                    <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                                </button>
                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-primary pull-right" ng-click="finishBranchEdition()">
                                    Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                                </button>
                            </div>
                        </div>



                    </div>

                </div>
                <!--Step 2 -->

                <!--Step 3-->
                <div class="row setup-content" id="step-5" ng-show="isStep(3)">

                    <div class="col-md-10 col-md-offset-1">

                        <div class="row">
                            <div class="text-center spacer-bottom-lg text-tattler-blue col-sm-10 col-sm-offset-1">
                                <p class="spacer-bottom"><strong>Ingresa tus promociones, estarán a la vista de tus
                                    clientes.</strong></p>

                                <p>¡Asígnales vigencia y desapareceran cuando tú lo decidas, menciona en qué sucursales
                                    serán vigentes y genera códigos para llevar el control de uso!</p>
                            </div>
                        </div>

                        <div class="row">

                            <form name="promotionForm">

                                <div class="panel panel-default">

                                    <div class="panel-heading text-center">
                                        <strong>Nueva Promoción</strong>
                                    </div>

                                    <div class="panel-body">

                                        <div class="col-md-8">

                                            <div class="form-group">
                                                <label class="control-label">Titulo Promoción</label><br>
                                                <input class="form-control" type="text" placeholder="T&iacute;tulo"
                                                       name="title"
                                                       ng-model="promotion.title" required/>

                                            </div>

                                            <div class="form-group form-inline">
                                                <label class="control-label"><i class="fa fa-calendar"></i> Fecha
                                                    Inicio</label><br>

                                                <div class="form-group">
                                                    <input type="text" size="10" class="form-control"
                                                           ng-model="promotion.start_date"
                                                           data-autoclose="1" placeholder="Fecha" bs-datepicker>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" size="8" class="form-control"
                                                           ng-model="promotion.start_date"
                                                           data-autoclose="1" placeholder="Hora" bs-timepicker>
                                                </div>

                                            </div>

                                            <div class="form-group form-inline">
                                                <label class="control-label"><i class="fa fa-calendar"></i> Fecha
                                                    Final</label><br>

                                                <div class="form-group">
                                                    <input type="text" size="10" class="form-control"
                                                           ng-model="promotion.expiration_date"
                                                           data-autoclose="1" placeholder="Fecha" bs-datepicker>
                                                </div>
                                                <div class="form-group">
                                                    <input type="text" size="8" class="form-control"
                                                           ng-model="promotion.expiration_date"
                                                           data-autoclose="1" placeholder="Hora" bs-timepicker>
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Sucursales aplicables</label><br>

                                                <div multi-select
                                                     input-model="promotionBranches"
                                                     button-label="name"
                                                     item-label="name"
                                                     tick-property="ticked">
                                                </div>

                                            </div>

                                            <div class="form-group">
                                                <label class="control-label">Cantidad de cupones a generar</label><br>

                                                <input type="number" class='form-control' max="40000" min="0"
                                                       ng-model="promotion.issued_coupons" required>

                                            </div>


                                            <div class="form-group">
                                                <label class="control-label">Seleccione la imagen promocional: </label>

                                                <p><input type="file" ng-file-select ng-model="promotion.image"
                                                          accept="image/*"
                                                          ng-file-change="generateThumb(promotion.image, $files)"></p>

                                            </div>


                                        </div>

                                        <div class="col-md-4">
                                            <div class="wizard-phoneBackground">

                                                <div class="wizard-phoneContainer">

                                                    <img src="components/app-data/img/promotion/promotion-header.png"
                                                         class='phone-header-image'/>

                                                    <div class="phone-container-image">

                                                        <img ng-if="promotion.image.dataUrl == undefined"
                                                             class="img-responsive img-responsive-center"
                                                             src="components/app-data/img/promotion/proposal-02.png"/>

                                                        <img ng-if="promotion.image.dataUrl != undefined"
                                                             class="img-responsive phone-promotion-image"
                                                             ng-src="{{promotion.image.dataUrl}}"/>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>


                                    </div>

                                </div>

                                <div class="row col-sm-10 col-sm-offset-1">

                                    <button type="button" class="pull-left btn btn-primary" ng-click="setStep(2)">
                                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                                    </button>

                                    <button type="button" class="pull-right btn btn btn-primary"
                                            ng-click="createPromotion(promotion)">
                                        Continuar <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>

                                </div>

                            </form>

                        </div>

                    </div>
                    <!--Step 3 -->

                </div>


                <div class="row setup-content" id="step-4" ng-show="isStep(4)"><!--Step 4-->

                    <div class="col-md-10 col-md-offset-1">

                        <div class="row spacer-bottom">
                            <h3>Contratar un plan Tattler Adword</h3>
                        </div>

                        <div class="row">

                            <!--/ left-->
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label for="plan-select" class='control-label'>Elegir presupuesto <i
                                            bs-tooltip="tooltip_presupuesto" class="fa fa-question-circle"></i></label>
                                    <select class="form-control" id="plan-select" name="plan-select"
                                            ng-model="selectedPlan"
                                            ng-options="plan.name for plan in plans"></select>

                                </div>

                                <fieldset disabled>

                                    <div class="form-group col-md-6">
                                        <label for="minutes" class='control-label'>Minutos incluidos <i
                                                bs-tooltip="tooltip_minutos" class="fa fa-question-circle"></i></label>

                                        <div id="minutes" class="form-control-static">{{selectedPlan.minutes}}</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="visits" class='control-label'>Visitas promociones <i
                                                bs-tooltip="tooltip_promociones" class="fa fa-question-circle"></i></label>

                                        <div id="visits" class="form-control-static">{{selectedPlan.visits}}</div>
                                    </div>

                                    <div class="form-group col-md-12">
                                        <label for="messages" class='control-label'>Mensajería <i
                                                bs-tooltip="tooltip_mensajeria" class="fa fa-question-circle"></i></label>

                                        <div id="messages" class="form-control-static">Ilimitada</div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="min-scope" class='control-label'>Alcance mínimo <i
                                                bs-tooltip="tooltip_alcance_minimo" class="fa fa-question-circle"></i></label>

                                        <div id="min-scope" class="form-control-static">
                                            {{selectedPlan.minimum_visits}}
                                        </div>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label for="max-scope" class='control-label'>Alcance máximo <i
                                                bs-tooltip="tooltip_alcance_maximo" class="fa fa-question-circle"></i></label>

                                        <div id="max-scope" class="form-control-static">{{selectedPlan.visits}}
                                        </div>
                                    </div>

                                </fieldset>

                                <div class="form-group">
                                    <label for="income-select" class='control-label'>Promedio de consumo por
                                        cliente <i bs-tooltip="tooltip_ingreso_promedio"
                                                   class="fa fa-question-circle"></i></label>
                                    <select class="form-control" id="income-select" name="income-select"
                                            ng-model="selectedIncome"
                                            ng-options="income.mean_sale for income in selectedPlan.mean_incomes"></select>
                                </div>

                                <div class="form-group col-md-7">
                                    <label for="min-income-scope" class='control-label'>Alcance ingreso mínimo <i
                                            bs-tooltip="tooltip_retorno_minimo" class="fa fa-question-circle"></i></label>

                                    <div id="min-income-scope" class="form-control-static">
                                        {{selectedIncome.minimum_income.amount |
                                        currency}} {{selectedIncome.minimum_income.currency}}
                                    </div>
                                </div>

                                <div class="form-group col-md-5">
                                    <label for="min-income-scope" class='control-label'>Inversión Tattler Adwords <i
                                            bs-tooltip="tooltip_inversion" class="fa fa-question-circle"></i></label>

                                    <div id="tattler-investment" class="form-control-static">
                                        {{selectedPlan.price.amount
                                        |
                                        mexicanCurrency }}
                                    </div>
                                </div>

                            </div>
                            <!--/ left-->

                            <!--/ right-->
                            <div class="col-md-4 col-md-offset-1">

                                <div class="form-group">
                                    <label class='control-label'>Nombre</label>
                                    <input class='form-control' size='4' type='text' ng-model="card.name" required>
                                </div>
                                <div class="form-group">
                                    <label class='control-label'>Número de Tarjeta</label>
                                    <input autocomplete='off' class='form-control card-number' size='20'
                                           maxlength="20"
                                           type="number"
                                           ng-model="card.number" required>
                                </div>
                                <div class="form-group">
                                    <label class='control-label'>CVC</label>
                                    <input type="number" autocomplete='off' class='form-control card-cvc'
                                           placeholder='ex. 311'
                                           size='4' ng-minlength="3"
                                           ng-model="card.cvc" required>

                                </div>

                                <div class="form-group">

                                    <label for="expiration-date" class='control-label text-left'>Fecha de
                                        expiración</label>

                                    <div id="expiration-date" class="form-group">
                                        <div class='col-xs-6 form-group expiration required'>
                                            <input type="number" class='form-control card-expiry-month'
                                                   placeholder='MM'
                                                   size='2'
                                                   ng-minlength="2" max="12" min="0"
                                                   ng-model="card.exp_month" required>
                                        </div>
                                        <div class='col-xs-6 form-group expiration required'>
                                            <input type="number" class='form-control card-expiry-year'
                                                   placeholder='AAAA' size='4'
                                                   ng-minlength="4" max="2100" min="2014"
                                                   ng-model="card.exp_year" required>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <!--/ right-->

                        </div>


                        <div class="row">

                            <div class='col-md-12 error form-group' ng-show="showError">
                                <div class='alert-danger alert'>
                                    {{errorMessage}}
                                </div>
                            </div>

                            <div class="form-group space-before-lg spacer-bottom-lg">
                                <div class="col-sm-12 text-right">

                                    <div class="col-md-1"></div>

                                    <button type="button" class="btn btn-info col-md-3" ng-click="setStep(3)">
                                        <span class="glyphicon glyphicon-chevron-left"></span> Regresar
                                    </button>

                                    <div class="col-md-1"></div>

                                    <button type="button" class="btn btn-primary col-md-3"
                                            ng-click="finishWizard()">
                                        Finalizar <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>

                                    <div class="col-md-1"></div>
                                    <button type="button" class="btn btn btn-success col-md-3"
                                            ng-click="acquireAdwords()">
                                        Contratar <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--Step 4 -->

            </div>


        </div>


    </div>

</div>


<script type="text/ng-template" id="picture-modal">

    <style>
        .cropArea {
            overflow: hidden;
            width: 500px;
            height: 400px;
        }
    </style>

    <div ng-init="initial()" class="crop-modal">

        <div class="container-fluid container-md-height">
            <div class="row">
                <div class="col-md-12">
                    <div class="cropArea">
                        <img-crop image="profileImage" result-image="profileResultImage"></img-crop>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <button class="btn btn-danger" type="button" ng-click="closeThisDialog()">Cerrar</button>
                    <button class="btn btn-primary" type="button" ng-click="select()">Seleccionar</button>
                </div>
            </div>
        </div>

    </div>
</script>

<script type="text/ng-template" id="branch-modal" class="modal-dialog">

    <div class="modal-header">
        <h3 class="modal-title">Nueva sucursal</h3>
    </div>

    <div class="modal-body">

        <div class="row">

            <form>

                <tabset>
                    <tab heading="Datos de sucursal">

                        <!--left-->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="branch-name" class="control-label">Nombre de la sucursal</label>
                                <input id="branch-name" type="text" ng-model="branch.name"
                                       class="form-control" required/>
                            </div>
                            <div class="form-group">
                                <label for="branch-country" class="control-label">País</label>
                                <select id="branch-country" class="form-control" ng-model="branch.address.country"
                                        ng-options="country.name for country in countries">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="branch-state" class="control-label">Estado o provincia</label>
                                <select id="branch-state" class="form-control" ng-model="branch.address.state"
                                        ng-options="state.name for state in states" ng-change="getlocation()">
                                </select>
                            </div>
                            <!--TODO: Add Map widget and autocomplete address-->
                            <div class="form-group mapAdd">
                                <label class="control-label">Seleccione su ubicaci&oacute;n</label>

                                <div id="panelmap">

                                    <!--<label class="sr-only">Address</label>
                                    <input type="text" id="addressField" class="form-control" ng-model="address" name="address" ng-autocomplete options="options" details="detailsAddress"/>

                                    <button ng-click="changeAddress(detailsAddress)" class="btn btn-info" aria-label="Left Align">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>-->

                                    <button ng-click="currentMarkers()" class="btn btn-default btn-lg"
                                            aria-label="Left Align">
                                        <span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
                                    </button>
                                </div>
                                <map center="37.7699298, -122.4469157" zoom="8" on-click="addMarker()">
                                    <marker animation="Animation.BOUNCE" icon="{
                                    url:'components/app-data/img/branches/GeoTattler.png',
                                    scaledSize:[20,40]}" ng-repeat="pos in positions"
                                            position="{{pos.lat}}, {{pos.lng}}" centered="{{pos.centered}}"></marker>
                                </map>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Dirección</label>
                                <label for="branch-address" class="sr-only">Address</label>
                                <input type="text" id="branch-address" class="form-control"
                                       ng-model="branch.address.street_line"/>
                            </div>
                            <div class="form-group form-days">
                                <label class="col-md-12 paddingLeftZero">Horarios</label>

                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Lunes</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.monday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="startMonday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.monday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endMonday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Martes</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.tuesday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="startTuesday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.tuesday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endTuesday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Miercoles</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.wednesday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string"
                                                   name="startWednesday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.wednesday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endWednesday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Jueves</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.thursday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="startThursday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.thursday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endthursday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Viernes</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.friday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="startFriday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.friday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endFriday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Sabado</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.saturday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="startSaturday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.saturday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endSaturday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row-fluid">
                                        <div class="col-md-12 text-center">Domingo</div>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="col-md-5 starthour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.sunday.opening_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="startSunday"
                                                   bs-timepicker>
                                        </div>
                                        <div class="col-md-2 text-center range">-</div>
                                        <div class="col-md-5 endhour">
                                            <input type="text" class="form-control" size="5"
                                                   ng-model="branch.schedule.sunday.closing_time"
                                                   data-time-format="HH:mm" data-time-type="string" name="endSunday"
                                                   bs-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row-fluid">&nbsp;</div>
                                    <div class="row-fluid">
                                        <input type="checkbox" ng-model="branch.isGeneral" name="isGeneral"
                                               ng-change="checkGeneral(branch.isGeneral,branch.schedule.monday.opening_time,branch.schedule.monday.closing_time)"/>
                                        Utilizar
                                        horario General
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="label-control text-justify">Una vez finalizado el registro, estaras
                                    recibiendo
                                    llamadas al
                                    telefono fijo de tu sucursal y mensajeria de tus clientes, es por ello que es
                                    importante que
                                    definas
                                    como deseas que se pongan en contacto tus clientes:</label>
                            </div>

                            <div class="form-group">
                                <div class="col-md-3"><input type="checkbox" ng-model="branch.allows_phone_calling"
                                                             name="remember_me"/>
                                    <label
                                            class="label-control"> Teléfono Fijo</label></div>
                                <div class="col-md-4"><input class="form-control" name="ccnum"
                                                             ui-mask="+52 (9999) 99 99 99"
                                                             ng-model="branch.phone_number" name="tel" required/></div>
                                <div class="col-md-5"><a href="#">Aplica costos Adwords</a></div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12"><input type="checkbox" ng-model="branch.allows_messaging" checked
                                                              name="remember_me"/>
                                    <label class="label-control"> Mensajer&iacute;a</label></div>
                            </div>
                        </div>
                        <!--left-->

                    </tab>

                    <tab heading="Datos de usuario">

                        <!--right-->
                        <div class="col-md-12">

                            <div class="form-group">
                                <label class="control-label">Nombre</label>

                                <input class="form-control" type="text" name="name" ng-model="branch.manager.name"
                                       required/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Apellidos</label>
                                <input class="form-control" type="text" name="lastname"
                                       ng-model="branch.manager.last_name" required/>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12 paddingLeftZero">Sexo</label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="checkboxEnLinea1" value="Male" checked
                                           ng-model="branch.manager.gender">
                                    Masculino
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="gender" id="checkboxEnLinea2" value="Female"
                                           ng-model="branch.manager.gender">
                                    Femenino
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Correo Electr&oacute;nico</label>
                                <label class="sr-only">e-mail</label>
                                <input class="form-control" type="email" name="email" ng-model="branch.manager.username"
                                       ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Contrase&ntilde;a</label>
                                <label class="sr-only">Password</label>
                                <input type="password" name="password" class="form-control" ng-Minlength="8"
                                       ng-model="branch.manager.password"
                                       required/>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Confirmar contrase&ntilde;a</label>
                                <label class="sr-only">Password</label>
                                <input type="password" name="confirmPassword" class="form-control" ng-Minlength="8"
                                       ng-model="branch.manager.confirmPassword" required
                                       data-password-verify="branch.manager.password"
                                       required/>
                            </div>

                        </div>
                        <!--left-->


                    </tab>


                </tabset>

            </form>


        </div>


    </div>

    <div class="modal-footer">

        <!--<pre>{{branch | json}}</pre>
        <pre>  There are {{count}} results
        <pre>{{mapResults}}</pre></pre>-->

        <button ng-click="AddBranch(branch)" class="btn btn-primary">Agregar Sucursal</button>
    </div>
</script>
