/*
Form box
*/

.form-box {
    width: 100%;
}

.form-box .header {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background: #009FE3;
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    color: #fff;
}

.form-box .body,
.form-box .footer {
    padding: 10px 20px;
    background: #fff;
    color: #444;
}

.form-box .body > .form-group,
.form-box .footer > .form-group {
    margin-top: 20px;
}

.form-box .body > .form-group > input,
.form-box .footer > .form-group > input {
    /*border: #fff;*/
}

.form-box .body > .btn,
.form-box .footer > .btn {
    margin-bottom: 10px;
}

.form-box .footer {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bg-light-blue {
    color: #f9f9f9 !important;
}

.bg-gray {
    background-color: #eaeaec !important;
}

.bg-light-blue {
    background-color: #3c8dbc !important;
}

/*Buttons*/
.btn {
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.09);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}

.btn.btn-default {
    background-color: #fafafa;
    color: #666;
    border-color: #ddd;
    border-bottom-color: #ddd;
}

.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default.hover {
    background-color: #f4f4f4 !important;
}

.btn.btn-default.btn-flat {
    border-bottom-color: #d9dadc;
}

.btn.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary.hover {
    background-color: #367fa9;
}

.btn.btn-success {
    background-color: #00a65a;
    border-color: #008d4c;
}

.btn.btn-success:hover,
.btn.btn-success:active,
.btn.btn-success.hover {
    background-color: #008d4c;
}

.btn.btn-info {
    background-color: #00c0ef;
    border-color: #00acd6;
}

.btn.btn-info:hover,
.btn.btn-info:active,
.btn.btn-info.hover {
    background-color: #00acd6;
}

.btn.btn-danger {
    background-color: #f56954;
    border-color: #f4543c;
}

.btn.btn-danger:hover,
.btn.btn-danger:active,
.btn.btn-danger.hover {
    background-color: #f4543c;
}

.btn.btn-warning {
    background-color: #f39c12;
    border-color: #e08e0b;
}

.btn.btn-warning:hover,
.btn.btn-warning:active,
.btn.btn-warning.hover {
    background-color: #e08e0b;
}

.btn.btn-flat {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}

.btn:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn:focus {
    outline: none;
}

.btn.btn-file {
    position: relative;
    width: 120px;
    height: 35px;
    overflow: hidden;
}

.btn.btn-file > input[type='file'] {
    display: block !important;
    width: 100% !important;
    height: 35px !important;
    opacity: 0 !important;
    position: absolute;
    top: -10px;
    cursor: pointer;
}

.btn.btn-app {
    position: relative;
    padding: 15px 5px;
    margin: 0 0 10px 10px;
    min-width: 80px;
    height: 60px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-align: center;
    color: #666;
    border: 1px solid #ddd;
    background-color: #fafafa;
    font-size: 12px;
}

.btn.btn-app > .fa,
.btn.btn-app > .glyphicon,
.btn.btn-app > .ion {
    font-size: 20px;
    display: block;
}

.btn.btn-app:hover {
    background: #f4f4f4;
    color: #444;
    border-color: #aaa;
}

.btn.btn-app:active,
.btn.btn-app:focus {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.btn-app > .badge {
    position: absolute;
    top: -3px;
    right: -10px;
    font-size: 10px;
    font-weight: 400;
}

.btn.btn-social-old {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    opacity: 0.9;
    padding: 0;
}

.btn.btn-social-old > .fa {
    padding: 10px 0;
    width: 40px;
}

.btn.btn-social-old > .fa + span {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.btn.btn-social-old span {
    padding: 10px;
}

.btn.btn-social-old:hover {
    opacity: 1;
}

.btn.btn-circle {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.headerRegister {
    position: relative;
    padding: 2rem 1rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    background-color: #009FE3;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00c0ef), to(#009FE3));
    background-image: -webkit-linear-gradient(top, #00c0ef 0%, #009FE3 100%);
    background-image: -o-linear-gradient(top, #00c0ef 0%, #009FE3 100%);
    background-image: linear-gradient(to bottom, #00c0ef 0%, #009FE3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00c0ef', endColorstr='#009FE3', GradientType=0);
    background-repeat: repeat-x;
}

.headerRegister {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.videoWelcome {
    color: #fff;
}

/* Desktops and laptops ----------- 
@media only screen and (min-width : 1224px) { 
  .videoWelcome{
    margin:30px auto 0 auto;
    font-size: 26px;
    width: 95%;
  }
  .form-box {
    width: 90%;
    margin:0 auto;
  }
}*/

/* Large screens ----------- 
@media only screen and (min-width : 1824px) { 
  .videoWelcome{
    margin:18px auto 0 auto;
    font-size: 26px;
    width: 80%;
  }
  .form-box {
    width: 90%;
  }
}

@media (max-width: 767px) {
  .form-box {
    width: 100%;
  }
  .headerRegister {
    padding: .5rem 0 1rem;
  }
  .videoWelcome{
    font-size: 15px;
    width: 100%;
    margin:20px auto 0 auto;
  }
}*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width: 321px) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width: 1224px) {
    /* Styles */
    .videoWelcome {
        margin: 30px auto 0 auto;
        font-size: 26px;
        width: 95%;
    }

    .form-box {
        width: 100%;
        margin: 0 auto;
    }
}

/* Large screens ----------- */
@media only screen
and (min-width: 1824px) {
    /* Styles */
    .videoWelcome {
        margin: 2px auto 0 auto;
        font-size: 26px;
        width: 80%;
    }

    .form-box {
        width: 90%;
    }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    /* Styles */
    .form-box {
        width: 100%;
    }

    .headerRegister {
        padding: .5rem 0 1rem;
    }

    .videoWelcome {
        font-size: 15px;
        width: 100%;
        margin: 20px auto 0 auto;
    }
}

/*Marquee css3*/
.marquee {
    width: 100%;
    height: 50px;
    margin: 25px auto;
    overflow: hidden;
    position: relative;
    border: 1px solid #00c0ef;
    margin: 25px auto;

    background-color: #009FE3;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, .5), 0px 1px 0px rgba(250, 250, 250, .2);

}

.marquee p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0px #009FE3;
    filter: dropshadow(color=#009FE3, offx=1, offy=1);
}

.marquee p {
    transform: translateX(100%);
}

@keyframes left-one {
    0% {
        transform: translateX(100%);
    }
    10% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes left-two {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes left-one {
    0% {
        transform: translateX(100%);
    }
    10% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes left-two {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(100%);
    }
    60% {
        transform: translateX(0);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.marquee p:nth-child(1) {
    -webkit-animation: left-one 20s ease infinite;
    animation: left-one 20s ease infinite;
}

.marquee p:nth-child(2) {
    -webkit-animation: left-two 20s ease infinite;
    animation: left-two 20s ease infinite;
}


/*
    Dialog Style
*/
@-webkit-keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

.ngdialog.ngdialog-theme-crop {
    padding-bottom: 160px;
    padding-top: 160px;
}

.ngdialog.ngdialog-theme-crop.ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s;
}

.ngdialog.ngdialog-theme-crop .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: 'Helvetica',sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 550px;
}

.ngdialog.ngdialog-theme-crop .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.ngdialog.ngdialog-theme-crop .ngdialog-close:before {
    background: transparent;
    border-radius: 3px;
    color: #bbb;
    content: '\00D7';
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.ngdialog.ngdialog-theme-crop .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-crop .ngdialog-close:active:before {
    color: #777;
}

.ngdialog.ngdialog-theme-crop .ngdialog-message {
    margin-bottom: .5em;
}

.ngdialog.ngdialog-theme-crop .ngdialog-input {
    margin-bottom: 1em;
}

.ngdialog.ngdialog-theme-crop .ngdialog-input textarea,
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="text"],
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="password"],
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="email"],
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="url"] {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%;
}

.ngdialog.ngdialog-theme-crop .ngdialog-input textarea:focus,
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="text"]:focus,
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="password"]:focus,
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="email"]:focus,
.ngdialog.ngdialog-theme-crop .ngdialog-input input[type="url"]:focus {
    -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: none;
}

.ngdialog.ngdialog-theme-crop .ngdialog-buttons {
    *zoom: 1;
}

.ngdialog.ngdialog-theme-crop .ngdialog-buttons:after {
    content: '';
    display: table;
    clear: both;
}

.ngdialog.ngdialog-theme-crop .ngdialog-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase;
}

.ngdialog.ngdialog-theme-crop .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: none;
}

@media (max-width: 568px) {
    .ngdialog.ngdialog-theme-crop .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none;
    }
}

.ngdialog.ngdialog-theme-crop .ngdialog-button.ngdialog-button-primary {
    background: #3288e6;
    color: #fff;
}

.ngdialog.ngdialog-theme-crop .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777;
}