<div class="container-fluid" ng-show="company">

    <div class="col-md-8">

        <div class="spacer-bottom"></div>

        <form ng-submit="updateCompany()">

            <div class="form-group">
                <label class="control-label">Logotipo de tu empresa: </label>
                <p><input type="file" id="profileInput" ng-file-select
                          accept="image/*"
                          ng-file-change="generateCrop(company.updated_profile_image, $files)">
                </p>
            </div>

            <div class="form-group">
                <label class="control-label">Fondo de empresa: </label>

                <p><input type="file" id="backgroundInput" ng-file-select
                          ng-model="company.backgroundImage"
                          accept="image/*"
                          ng-file-change="generateThumb(company.updated_background_image, $files)"></p>
            </div>

            <div class="form-group">
                <label for="description" class="control-label">Descripción: </label>
                        <textarea id="description" class="form-control" rows="3" style="resize:none"
                                  ng-model="company.description" required></textarea>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-primary pull-right">
                    Actualizar <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
            </div>

        </form>
    </div>


    <div class="col-md-4">
        <div class="wizard-phoneBackground">
            <div class="wizard-phoneContainer">

                <img ng-if="company.background_image == undefined"
                     src="components/app-data/img/company/profile-background-placeholder.png"
                     alt="Image de fondo"
                     class='profile-background-image'/>
                <img ng-if="company.updated_background_image.dataUrl == undefined"
                     ng-src="{{company.background_image}}" alt="Image de fondo"
                     class='profile-background-image'/>
                <img ng-if="company.updated_background_image.dataUrl != undefined"
                     ng-src="{{company.updated_background_image.dataUrl}}" alt="Image de fondo"
                     class='profile-background-image'/>

                <div class="profile-image">
                    <img ng-if="company.profile_image == undefined"
                         src="components/app-data/img/company/profile-picture.png"
                         alt="Image de perfil"
                         class='img img-responsive full-width'/>
                    <img ng-if="company.updated_profile_image == undefined"
                         ng-src="{{company.profile_image}}" alt="Image de perfil"
                         class='img img-responsive full-width'/>
                    <img ng-if="company.updated_profile_image != undefined"
                         ng-src="{{company.updated_profile_image}}" alt="Image de perfil"
                         class='img img-responsive full-width'/>
                </div>

                <div class='description-text'>
                    {{company.description}}
                </div>

            </div>
        </div>

        <!--<pre>{{company | json}}</pre>-->

    </div>

</div>

<script type="text/ng-template" id="picture-modal">

    <style>
        .cropArea{
            overflow: hidden;
            width: 500px;
            height: 400px;
        }
    </style>

    <div ng-init="initial()" class="crop-modal">

        <div class="container-fluid container-md-height">
            <div class="row">
                <div class="col-md-12">
                    <div class="cropArea">
                        <img-crop image="profileImage" result-image="profileResultImage"></img-crop>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-6">
                    <button class="btn btn-danger" type="button" ng-click="closeThisDialog()">Cerrar</button>
                    <button class="btn btn-primary" type="button" ng-click="select()">Seleccionar</button>
                </div>
            </div>
        </div>

    </div>
</script>