<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <button type="button"
                    ng-class="{'btn btn-primary btn-circle': step >= 1, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 1}">
                1
            </button>
            <p>Selecciona tu plan</p>
        </div>
        <div class="stepwizard-step">
            <button type="button"
                    ng-class="{'btn btn-primary btn-circle': step >= 2, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 2}">
                2
            </button>
            <p>Datos de tarjeta</p>
        </div>
        <div class="stepwizard-step">
            <button type="button"
                    ng-class="{'btn btn-primary btn-circle': step >= 3, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 3}">
                3
            </button>
            <p>Revisar y pagar</p>
        </div>
    </div>
</div>

<div class="row setup-content" id="step-1" ng-show="isStep(1)">

    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-info" role="alert">
            <p>Los usuarios podrán llamar gratis al teléfono fijo de tu negocio y también podrán ver tus
                promociones.</p>

            <p>Con Tattler obtienes mayores resultados, ya que los usuarios podrán ver tus promociones y podrán llamarte
                para solicitar tus servicios.</p>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1">

        <div class="panel-body form-horizontal payment-form">

            <!--/ left-->
            <div class="col-md-6">

                <div class="form-group">
                    <label for="plan-select" class="col-sm-6 control-label">Elegir presupuesto
                        <small>(1)</small>
                    </label>

                    <div class="col-sm-6">
                        <select class="form-control" id="plan-select" name="plan-select" ng-model="selectedPlan"
                                ng-options="plan.name for plan in plans"></select>
                    </div>
                </div>

                <fieldset disabled>

                    <div class="form-group">
                        <label for="minutes" class="col-sm-6 control-label">Minutos incluidos</label>

                        <div class="col-sm-6">
                            <div id="minutes" class="form-control-static">{{selectedPlan.minutes}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="visits" class="col-sm-6 control-label">Visitas promociones
                            <small>(2)</small>
                        </label>

                        <div class="col-sm-6">
                            <div id="visits" class="form-control-static">{{selectedPlan.visits}}</div>
                        </div>

                    </div>

                    <div class="form-group">
                        <label for="messages" class="col-sm-6 control-label">Mensajería</label>

                        <div class="col-sm-6">
                            <div id="messages" class="form-control-static">Ilimitada</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="min-scope" class="col-sm-6 control-label">Alcance mínimo</label>

                        <div class="col-sm-6">
                            <div id="min-scope" class="form-control-static">{{selectedPlan.minimum_visits}}</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="max-scope" class="col-sm-6 control-label">Alcance máximo</label>

                        <div class="col-sm-6">
                            <div id="max-scope" class="form-control-static">{{selectedPlan.visits}}</div>
                        </div>
                    </div>

                </fieldset>

            </div>
            <!--/ left-->

            <!--/ right-->
            <div class="col-md-6">

                <div class="form-group">
                    <label for="income-select" class="col-sm-6 control-label">Ingresa un promedio consumo por
                        cliente</label>

                    <div class="col-sm-6">
                        <select class="form-control" id="income-select" name="income-select" ng-model="selectedIncome"
                                ng-options="income.mean_sale for income in selectedPlan.mean_incomes"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="min-income-scope" class="col-sm-6 control-label">Alcance ingreso mínimo
                        estimado</label>

                    <div class="col-sm-6">
                        <div id="min-income-scope" class="form-control-static">{{selectedIncome.minimum_income.amount | currency}} {{selectedIncome.minimum_income.currency}}</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="tattler-investment" class="col-sm-6 control-label">Inversión Tattler Adwords
                        <small>(3)</small>
                    </label>

                    <div class="col-sm-6">
                        <div id="tattler-investment" class="form-control-static">{{selectedPlan.price.amount |
                            mexicanCurrency }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12 text-right">
                        <button type="button" class="btn btn-primary pull-right" ng-click="setStep(2)">
                            Ingresar datos de pago <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>

            </div>
            <!--/ right-->

        </div>

    </div>

    <div class="col-md-10 col-md-offset-1">
        <div class="alert alert-success" role="alert">
            <p>(1) Todos los costos son mas IVA + 3% comisión por transacción bancaria.</p>

            <p>(2) Visitas usuarios únicos.</p>

            <p>(3) Aproximado, incluye IVA y comisión bancaria</p>
        </div>
    </div>

</div>
<div class="row setup-content" id="step-2" ng-show="isStep(2)">
    <div class="col-xs-12">
        <div class="col-md-8 col-md-offset-2">

            <form id="card-form" ng-submit="setPayData()">

                <h3> Ingresa datos de tarjeta</h3>

                <div class='form-row'>
                    <div class='col-xs-12 form-group required'>
                        <label class='control-label'>Nombre</label>
                        <input class='form-control' size='4' type='text' ng-model="card.name" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-xs-12 form-group card required'>
                        <label class='control-label'>Número de Tarjeta</label>
                        <input autocomplete='off' class='form-control card-number' size='20' maxlength="20"
                               type="number"
                               ng-model="card.number" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-xs-4 form-group cvc required'>
                        <label class='control-label'>CVC</label>
                        <input type="number" autocomplete='off' class='form-control card-cvc' placeholder='ex. 311'
                               size='4' ng-minlength="3"
                               ng-model="card.cvc" required>
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label'>Fecha de expiración</label>
                        <input type="number" class='form-control card-expiry-month' placeholder='MM' size='2'
                               ng-minlength="2" max="12" min="0"
                               ng-model="card.exp_month" required>
                    </div>
                    <div class='col-xs-4 form-group expiration required'>
                        <label class='control-label'> </label>
                        <input type="number" class='form-control card-expiry-year' placeholder='AAAA' size='4'
                               ng-minlength="4" max="2100" min="2014"
                               ng-model="card.exp_year" required>
                    </div>
                </div>
                <div class='form-row'>
                    <div class='col-md-12 error form-group' ng-show="showError">
                        <div class='alert-danger alert'>
                            {{errorMessage}}
                        </div>
                    </div>
                </div>

                <button class="btn btn-info pull-left" type="button" ng-click="setStep(1)">Atrás</button>
                <input type="submit" class="btn btn-primary pull-right" ng-disabled="card-form.$invalid"
                       value="Siguiente">
            </form>

        </div>
    </div>
</div>
<div class="row setup-content" id="step-3" ng-show="isStep(3)">
    <div class="col-xs-12">
        <div class="well col-md-6 col-md-offset-3">

            <div class="col-xs-6 col-sm-6 col-md-6">
                <address>
                    <strong>Plan Seleccionado</strong>
                    <br>
                    {{selectedPlan.name}}
                    <br>
                </address>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <p>
                    <strong>Tarjeta</strong>
                </p>

                <p>
                    <em>{{last4}}</em>
                </p>

            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                <hr/>
                <h4><strong>Total: {{selectedPlan.price.amount | currency}} {{plan.price.currency}}</strong></h4>
                <hr/>
            </div>

            <button class="btn btn-info pull-left" type="button" ng-click="setStep(2)">Atrás</button>

            <button type="button" class="btn btn-success pull-right" ng-click="acquireAdword()">
                Pagar Ahora   <span class="glyphicon glyphicon-chevron-right"></span>
            </button>

        </div>
    </div>
</div>
</div>