<div class="headerRegister">
  <div class="container">
  <h1>Crea tu cuenta Tattler</h1>
  </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-6 col-md-offset-3">
            <div class="form-box" id="login-box">
                <div class="header">                
                    <img src="components/app-data/img/login/logoTattler.png" class="img-responsive img-responsive-center" alt="tattler" >
                </div>
                <form novalidate name="registerForm" ng-class="showValidation ? 'validate' : ''">
                    <div class="body bg-gray" ng-hide="successfull">
                        <div class="form-group">
                            <label class="sr-only">Empresa</label>
                            <input class="form-control input-sm" type="text" placeholder="Empresa" name="company" ng-model="user.company" required autofocus/>
                            <div class="error" ng-show="showValidation" >
                            {{getError(registerForm.company.$error)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Nombre</label>
                            <input class="form-control input-sm" type="text" placeholder="Nombre" name="name" ng-model="user.name" required />
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.name.$error)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Apellido</label>
                            <input class="form-control input-sm" type="text" placeholder="Apellido" name="lastName" ng-model="user.lastName" required />
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.lastName.$error)}}
                            </div>                          
                        </div>

                        <div class="form-group">
<!--                             <label class="sr-only">Direcci&oacute;n</label>
                            <input class="form-control input-sm" placeholder="Busqu&eacute; su ciudad" name="places" options="autocompleteOptions" g-places-autocomplete force-selection="true" ng-model="places" required/>
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.places.$error)}}
                            </div> -->
                            <label class="sr-only">Direcci&oacute;n</label>
                            <input class="form-control input-sm" type="text" id="Address" placeholder="Ubique su Ciudad" ng-model="user.address" name="address"  ng-autocomplete options="Options" details="user.detailsAddress" required/>
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.address.$error)}}
                            </div>
                            <div class="error" ng-show="showValidationSelect">
                                {{ErrorSelect}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only">RFC</label>
                            <input class="form-control input-sm" type="text" placeholder="RFC (13 caracteres)" name="rfc" ng-model="user.rfc" ng-Minlength="13" ng-Maxlength="13" maxlength="13" required />
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.rfc.$error)}}
                            </div>  
                        </div>
                 
                        <div class="form-group">
                            <label class="sr-only">e-mail</label>
                            <input class="form-control input-sm" type="email" placeholder="e-mail" name="email" ng-model="user.email" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required />
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.email.$error)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input type="password" name="password" class="form-control input-sm" placeholder="Contrase&ntilde;a (8 Caracteres como m&iacute;nimo)" ng-Minlength="8" ng-model="user.password" required/>
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.password.$error)}}
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="sr-only">Password</label>
                            <input type="password" name="confirmPassword" class="form-control input-sm" placeholder="Confirmar contrase&ntilde;a" ng-Minlength="8" ng-model="user.confirmPassword" required data-password-verify="user.password" required/>
                            <div class="error" ng-show="showValidation">
                                {{getError(registerForm.confirmPassword.$error)}}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="sr-only">Categoria</label>
                            <multi-select
                            input-model="categories"
                            output-model="resultCategory"
                            button-label="icon name"
                            item-label="icon name"
                            tick-property="ticked"
                            selection-mode="single"
                            helper-elements="filter"
                            default-label="Selecciona tu categoria"
                            orientation="HORIZONTAL"
                            max-height="200px"
                            >
                            </multi-select>
                            <div class="error" ng-show="showErrorCategory">
                                Debe seleccionar una categoria
                            </div>
                        </div>
                    </div>
                    <div class="footer text-center">                                             
                        <button ng-hide="successfull" ng-click="RegisterUser(user)" ng-disabled="submitProgress" type="button" class="btn bg-light-blue btn-block">Registrarme</button>
                        <p><a href="#/login">Ir al inicio de sesi&oacute;n</a></p>
                        <div ng-class="successfull ? 'alert alert-success alert-dismissable' : 'alert alert-warning alert-dismissable'" ng-show="showMessage">
                            <div class="text-center" ng-show="successfull"><strong>Gracias por registrarse,</strong> en breve le mandaremos un correo de confimaci&oacute;n.</div>
                            <div class="text-center" ng-hide="successfull">Lo sentimos, no se realiz&oacute; la operaci&oacute;n, probablemente el usuario ya ha sido registrado.</div>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
        <!--<div class="col-md-7">

            <div class="videoWelcome">

                <video class="img-responsive img-responsive-center" controls autoplay loop muted preload="auto" poster="">
                    <source src="components/app-data/video/register/welcome.webm" type="video/webm">
                        <source src="components/app-data/video/register/welcome.mp4" type="video/mp4">
                            Tu navegador no soporta videos HTML5, te recomendamos actualizarlo!
                </video> 

                <div class="marquee">  
                    <p>Muestra tus sucursales</p>
                    <p>Muestra tus promociones</p>
                    <p>Tus clientes podran marcar gratis</p>
                    <p>Aumenta tus pedidos</p>
                    <p>Ventas o reservaciones</p>
                </div>  
            </div>
        </div>-->
    </div>
</div>