<div class="container-fluid">
	<div class="row">
		<div class="panel-header">
			<a href="#/branches/statistics" class="btn btn-info">Estadísticas</a>
			<a class="btn btn-info">Sucursales</a>
			<a href="#/branches/logs" class="btn btn-info">Historial Llamadas/Mensajes</a>
			<a href="#/branches/list" class="btn btn-info">Listado de sucursales</a>
		</div>
	</div>

	<div class="row-fluid top-buffer">
	    
			<div class="panel panel-default">
				<div class="panel-heading col-md-7 text-center">
					<h3>Informaci&oacute;n Sucursal</h3>
				</div>
				<div class="panel-heading col-md-5 text-center">
					<h3>Informaci&oacute;n Usuario Sucursal</h3>
				</div>
				<div class="panel-body">
		            <form novalidate name="registerForm" ng-class="showValidation ? 'validate' : ''">
		            	<div class="col-md-7">
						  	<div class="form-group paddingtop">
						  		<label for="inputBranchName" class="control-label">Nombre de la sucursal</label>

								<input type="text" id="inputBranchName" ng-model="branch.branchName" name="branchName" class="form-control"  required/>
								<div class="error" ng-show="showValidation">
									{{getError(registerForm.branchName.$error)}}
								</div>
	     	  	            </div> 
						  	<div class="form-group">
						  		<label for="inputCountry" class="control-label">Pa&iacute;s</label>
								<select class="form-control" id="inputCountry" ng-model="branch.country">
							        <option ng-selected="country.id == branch.country" ng-repeat="country in countries" value="{{country.id}}">{{country.name}}</option>
							    </select>
							    <div class="error" ng-show="showValidation">
									{{getError(registerForm.country.$error)}}
								</div>
	     	  	            </div>  
						  	<div class="form-group">
						  		<label for="inputState" class="control-label">Estado o provincia</label>
								<select class="form-control" id="inputState" ng-model="branch.state" ng-change="getlocation()">
							        <option ng-selected="state.id == branch.state" ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
							    </select>
							    <div class="error" ng-show="showValidation">
									{{getError(registerForm.state.$error)}}
								</div>
	     	  	            </div> 
							<div class="form-group mapAdd">
								<label class="control-label">Seleccione su ubicaci&oacute;n</label>
								<div id="panelmap">

									<label class="sr-only">Address</label>
									<input type="text" id="addressField" class="form-control" ng-model="address" name="address" ng-autocomplete options="options" details="detailsAddress"/>
									
									<button ng-click="changeAddress(detailsAddress)" class="btn btn-info" aria-label="Left Align">
										<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
									</button>

									<button ng-click="currentMarkers()" class="btn btn-default" aria-label="Left Align">
										<span class="glyphicon glyphicon-screenshot" aria-hidden="true"></span>
									</button>
						      	</div> 
						      	<map center="37.7699298, -122.4469157" zoom="8" on-click="addMarker()">
	 					        	<marker animation="Animation.BOUNCE"  icon="{
						          	url:'components/app-data/img/branches/GeoTattler.png', 
						          	scaledSize:[20,40]}" ng-repeat="pos in positions" position="{{pos.lat}}, {{pos.lng}}" centered="{{pos.centered}}"></marker> 
							    </map>
						    </div>
	 						<div class="form-group">
								<label for="inputStreet" class="control-label">Direcci&oacute;n</label>
								<input type="text" id="inputStreet" ng-model="branch.street" name="street" class="form-control"  required/>
								<div class="error" ng-show="showValidation">
									{{getError(registerForm.street.$error)}}
								</div>
							</div>
						    <div class="form-group form-days">
						      	<label class="col-md-12 paddingLeftZero" >Horarios</label>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Lunes</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startMonday" data-time-format="HH:mm" data-time-type="string" name="startMonday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endMonday" data-time-format="HH:mm" data-time-type="string" name="endMonday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Martes</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startTuesday" data-time-format="HH:mm" data-time-type="string" name="startTuesday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endTuesday" data-time-format="HH:mm" data-time-type="string" name="endTuesday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Miercoles</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startWednesday" data-time-format="HH:mm" data-time-type="string" name="startWednesday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endWednesday" data-time-format="HH:mm" data-time-type="string" name="endWednesday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Jueves</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startThursday" data-time-format="HH:mm" data-time-type="string" name="startThursday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endThursday" data-time-format="HH:mm" data-time-type="string" name="endthursday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Viernes</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startFriday" data-time-format="HH:mm" data-time-type="string" name="startFriday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endFriday" data-time-format="HH:mm" data-time-type="string" name="endFriday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Sabado</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startSaturday" data-time-format="HH:mm" data-time-type="string" name="startSaturday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endSaturday" data-time-format="HH:mm" data-time-type="string" name="endSaturday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
						        <div class="col-md-4">
						        	<div class="row-fluid">
						        		<div class="col-md-12 text-center">Domingo</div>
						        	</div>
						        	<div class="row-fluid">
								        <div class="col-md-5 starthour">	
								        	<input type="text" class="form-control" size="5" ng-model="branch.startSunday" data-time-format="HH:mm" data-time-type="string" name="startSunday" bs-timepicker>
								        </div>
								        <div class="col-md-2 text-center range">-</div>				        
								        <div class="col-md-5 endhour">
							        		<input type="text" class="form-control" size="5" ng-model="branch.endSunday" data-time-format="HH:mm" data-time-type="string" name="endSunday" bs-timepicker>
							        	</div>					        		
						        	</div>
						        </div>
								<div class="col-md-6">
									<div class="row-fluid">&nbsp;</div>
									<div class="row-fluid">
										<input type="checkbox" ng-model="branch.isGeneral" name="isGeneral" ng-change="checkGeneral(branch.isGeneral,branch.startMonday,branch.endMonday)"/> Utilizar horario General
									</div>
			                    </div>
						    </div>
					    
					    	<div class="form-group">
					    		<label class="label-control text-justify">Una vez finalizado el registro, estaras recibiendo llamadas al telefono fijo de tu sucursal y mensajeria de tus clientes, es por ello que es importante que definas como deseas que se pongan en contacto tus clientes:</label>
					    	</div>

					    	<div class="form-group">
					    		<div class="col-md-3"><input type="checkbox" ng-model="branch.isLandline" name="isLandline"/> <label class="label-control"> Tel&oacute;fono Fijo</label></div>
					    		<div class="col-md-4"><input class="form-control" name="ccnum" ui-mask="+52 (9999) 99 99 99" ng-model="branch.tel" name="tel" required/></div>
					    		<div class="col-md-5"><a href="#">Aplica costos Adwords</a></div>
					    	</div>
					    	<div class="form-group">
					    		<div class="col-md-12"><input type="checkbox" ng-model="branch.isMessaging" checked name="isMessaging"/> <label class="label-control"> Mensajer&iacute;a</label></div>
					    	</div>
	                   </div>
	                   <div class="col-md-5">
						  <div class="form-group paddingtopimg">
								<div class="imgArea img-responsive-center">
								    <img ng-src="{{branch.img}}"></img>
								</div>
								<label class="control-label">Foto para la sucursal: </label>
								<p><input type="file" id="fileInput" ng-file-select="onFileSelect($files)" ng-model="branch.file" >
								</p>
						  </div>
	                   		<!--<div class="row-fluid">
	                   			
	                   		</div>
	                   		<div class="row-fluid">-->
	                   			<div class="form-group">
			                        <label class="control-label">Nombre</label>

			                        <input class="form-control" type="text" name="name" ng-model="branch.name" required />
			                        <div class="error" ng-show="showValidation">
			                        	{{getError(registerForm.name.$error)}}
			                    	</div>  
			                    </div> 
			                    <div class="form-group">
			                        <label class="control-label">Apellidos</label>
			                        <input class="form-control" type="text" name="lastname" ng-model="branch.lastname" required />
			                        <div class="error" ng-show="showValidation">
			                        	{{getError(registerForm.lastname.$error)}}
			                    	</div>  
			                    </div>    
			                    <div class="form-group">
			                    	<label class="col-md-12 paddingLeftZero">Sexo</label>
			                    	<label class="radio-inline">
									  <input type="radio" name="gender" id="checkboxEnLinea1" value="Male" ng-model="branch.gender"> Masculino
									</label>
									<label class="radio-inline">
									  <input type="radio" name="gender" id="checkboxEnLinea2" value="Female" ng-model="branch.gender"> Femenino
									</label>
									<div class="error" ng-show="showValidation">
			                        	{{getError(registerForm.gender.$error)}}
			                    	</div> 
			                    </div>               
			                    <div class="form-group">
			                    	<label class="control-label">Correo Electr&oacute;nico</label>
			                        <label class="sr-only">e-mail</label>
			                        <input class="form-control" type="email" name="email" ng-model="branch.email" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" required />
				                    <div class="error" ng-show="showValidation">
				                        {{getError(registerForm.email.$error)}}
				                    </div>	                        
			                    </div>

			                    <div class="form-group">
			                    	<label class="control-label">Contrase&ntilde;a</label>
			                        <label class="sr-only">Password</label>
			                        <input type="password" name="password" class="form-control" ng-Minlength="8" ng-model="branch.password" required/>
				                    <div class="error" ng-show="showValidation">
				                        {{getError(registerForm.password.$error)}}
				                    </div>	                    
				                </div>

			                    <div class="form-group">
			                    	<label class="control-label">Confirmar contrase&ntilde;a</label>
			                        <label class="sr-only">Password</label>
			                        <input type="password" name="confirmPassword" class="form-control" id="inputsearch" ng-Minlength="8" ng-model="branch.confirmPassword" required data-password-verify="branch.password" required/>
				                    <div class="error" ng-show="showValidation">
				                        {{getError(registerForm.confirmPassword.$error)}}
				                    </div>
			                    </div>
	                   		<!--</div>-->
			                    
	                   </div>
	                   <div class="col-lg-6 col-lg-offset-3">
					   		<button ng-disabled="submitProgress" ng-show="editBranch" ng-click="SaveBranch(branch)" class="btn btn-primary submit-button-text btn-block btn-lg">Editar Sucursal</button>
					   </div>
					   <div class="col-lg-6 col-lg-offset-3">
					   		<button ng-disabled="submitProgress" ng-hide="editBranch" ng-click="SaveBranch(branch)" class="btn btn-primary submit-button-text btn-block btn-lg">Agregar Sucursal</button>
					   </div>
		            </form>
	        	</div>
			</div>
	</div>
</div>