<div class="container-fluid">
	<div class="row">
		<div class="panel-header">
			<a href="#/branches/statistics" class="btn btn-info">Estadísticas</a>
			<a href="#/branches" class="btn btn-info">Sucursales</a>
			<a href="#/branches/logs" class="btn btn-info">Historial Llamadas/Mensajes</a>
			<a href="#/branches/list" class="btn btn-info">Listado de sucursales</a>
		</div>
	</div>	

	<div class="row top-buffer">
		<div class="panel panel-default">
			<div class="panel-heading col-md-12 text-center">
				<h3>Listado</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-12 top-buffer">
					<p><button type="button" id="removeFirstRow" class="btn btn-lg btn-success" ng-click="DeleteBranches()" >Eliminar Sucursales Seleccionados</button></p>
				    <div ui-grid="gridBranches" ui-grid-selection ui-grid-edit ui-grid-cellNav></div>
				    <p><strong>Total de registros:</strong> {{ gridBranches.data.length | number }}</p>	  
			    </div>
        	</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading col-md-12 text-center">
				<h3>Ubicaciones</h3>
			</div>
			<div class="panel-body">
			    <div class="col-md-12 top-buffer">
			      	<map center="23.6260333, -102.5375005" zoom="5" pan-control="true" 
					    pan-control-options="{position:'TOP_RIGHT'}" 
					    map-type-control="true"
					    zoom-control="false"
					    scale-control="false" street-view-control="false" 
					    >
				        <marker animation="Animation.BOUNCE"  icon="{
			          	url:'components/app-data/img/branches/GeoTattler.png', 
			          	scaledSize:[20,40]}" ng-repeat="posmap in positionsmap" position="{{posmap.lat}}, {{posmap.lng}}" centered="{{posmap.centered}}" ></marker>
				    </map>
				</div>
        	</div>
		</div>
	</div>
</div>