<div class="container-fluid">

    <div class="row spacer-bottom-lg">
        <div class="panel-header">
            <a href="#/branches/statistics" class="btn btn-info">Estadísticas</a>
            <a href="#/branches" class="btn btn-info">Sucursales</a>
            <a href="#/branches/logs" class="btn btn-info">Historial Llamadas/Mensajes</a>
        </div>
    </div>

    <div class="page-head spacer-bottom">
        <div class="row">

            <form class="form-horizontal">
                <div class="form-group col-md-6">
                    <label class="col-sm-3 control-label">Sucursal:</label>

                    <div class="col-sm-9">
                        <select class="form-control" ng-model="selectedBranch"
                                ng-options="branch.name for branch in branches"
                                ng-change="onSelectedBranch(selectedBranch)"
                                required>
                        </select>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-4">
                    <select class="form-control" ng-model="selectedType"
                            ng-options="type.label for type in types"
                            ng-change="onSelectedType(selectedType)"
                            required>
                    </select>
                </div>
            </div>
        </div>

        <div class="panel-body" ng-show="isPanel(1)">

            <table ng-table class="table table-striped col-sm-12">
                <tr ng-repeat="call in callsLog.calls">
                    <td data-title="'Usuario'" class="col-sm-6">
                        <div class="col-sm-2 user-image vcenter">
                            <img ng-src="{{call.customer.profile_image}}" class="img-responsive user-profile-image">
                        </div>
                        <div class="col-sm-10 vcenter">
                            <strong>{{call.customer.name}} {{call.customer.last_name}}</strong>
                            <br/>
                            Conectado por última vez: {{call.connected_at | date: 'medium'}}
                        </div>
                    </td>
                    <td data-title="'Duración de llamada'" class="col-sm-4 text-center vcenter">
                        {{call.duration}}
                    </td>
                    <td data-title="'Contacto de Sucursal'" class="col-sm-2 text-center vcenter">
                        <span ng-class="{'btn-lg glyphicon glyphicon-user': call.is_contact}"></span>
                    </td>
                </tr>
            </table>

        </div>

        <div class="panel-body" ng-show="isPanel(2)">
            <table ng-table class="table table-striped col-sm-12">
                <tr ng-repeat="conversation in conversationsLog">
                    <td data-title="'Usuario'" class="col-sm-6">
                        <div class="col-sm-2 user-image vcenter">
                            <img ng-src="{{conversation.customer.profile_image}}"
                                 class="img-responsive user-profile-image">
                        </div>
                        <div class="col-sm-10 vcenter">
                            <strong>{{conversation.customer.name}} {{conversation.customer.last_name}}</strong>
                            <br/>
                            Conectado por última vez: {{conversation.last_message_at | date: 'medium'}}
                        </div>
                    </td>
                    <td data-title="'Conversación'" class="col-sm-4 text-center">
                        <button class="btn btn-sm btn-primary"
                                ng-click="showConversation(conversation)">Ver
                        </button>
                    </td>
                    <td data-title="'Contacto de Sucursal'" class="col-sm-2 text-center">
                        <span ng-class="{'btn-lg glyphicon glyphicon-user': conversation.is_contact}"></span>
                    </td>
                </tr>
            </table>

        </div>
    </div>


</div>

<script type="text/ng-template" id="conversation-modal">
    <div class="panel panel-default">

        <div class="panel-header top-bar">
            Historial de Conversación
        </div>

        <div class="panel-body msg_container_base">

            <div ng-repeat="message in conversation">
                <div ng-if="message.sender == FirstSender" class="row msg_container base_receive">
                    <div class="col-md-10 col-sm-10">
                        <div class="messages msg_receive">
                            <p>{{message.body}}</p>
                            <time datetime="2009-11-13T20:00"><strong>{{message.sender}}</strong> • {{message.sent_at | date: 'medium'}}</time>
                        </div>
                    </div>
                </div>

                <div ng-if="message.sender != FirstSender" class="row msg_container base_sent">
                    <div class="col-md-10 col-sm-10">
                        <div class="messages msg_sent">
                            <p>{{message.body}}</p>
                            <time datetime="2009-11-13T20:00"><strong>{{message.sender}}</strong> • {{message.sent_at | date: 'medium'}}</time>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>