<div class="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="stepwizard-step">
            <button type="button"
                    ng-class="{'btn btn-primary btn-circle': step >= 1, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 1}">
                1
            </button>
            <p>Selecciona tu plan</p>
        </div>
        <div class="stepwizard-step">
            <button type="button"
                    ng-class="{'btn btn-primary btn-circle': step >= 2, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 2}">
                2
            </button>
            <p>Datos de tarjeta</p>
        </div>
        <div class="stepwizard-step">
            <button type="button"
                    ng-class="{'btn btn-primary btn-circle': step >= 3, 'btn btn-default btn-circle stepwizard-step-btn-disabled': step != 3}">
                3
            </button>
            <p>Revisar y pagar</p>
        </div>
    </div>
</div>

<form role="form">
    <div class="row setup-content" id="step-1" ng-show="isStep(1)">

        <div class="col-md-10 col-md-offset-2">

            <div class="col-md-2" ng-repeat="plan in plans">
                <div class="panel panel-primary text-center">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{plan.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="the-price">
                            <h4>{{plan.price.amount | currency}} {{plan.price.currency}}</h4>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    {{plan.minutes}} minutos
                                </td>
                            </tr>
                            <tr class="active">
                                <td>
                                    Visitas disponibles:
                                    <br/>
                                    {{plan.minimum_view_scope}}
                                    <br/>
                                    mínimo
                                    <br/>
                                    {{plan.view_scope}}
                                    <br/>
                                    máximo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mensajes ilimitados
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary btn-sm center-block" ng-click="selectPlan(plan)">Seleccionar</button>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-10 col-md-offset-1">
            <div class="alert alert-success" role="alert">**Todos los costos son mas IVA + 3% comisión por transacción
                bancaria.
            </div>
        </div>

    </div>
    <div class="row setup-content" id="step-2" ng-show="isStep(2)">
        <div class="col-xs-12">
            <div class="col-md-8 col-md-offset-2">
                <form id="card-form">

                    <h3> Ingresa datos de tarjeta</h3>

                    <div class='form-row'>
                        <div class='col-xs-12 form-group required'>
                            <label class='control-label'>Nombre</label>
                            <input class='form-control' size='4' type='text' ng-model="card.name">
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-xs-12 form-group card required'>
                            <label class='control-label'>Número de Tarjeta</label>
                            <input autocomplete='off' class='form-control card-number' size='20' maxlength="20" type="number"
                                   ng-model="card.number">
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-xs-4 form-group cvc required'>
                            <label class='control-label'>CVC</label>
                            <input type="number" autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='4' ng-minlength="3"
                                   ng-model="card.cvc">
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                            <label class='control-label'>Fecha de expiración</label>
                            <input type="number" class='form-control card-expiry-month' placeholder='MM' size='2' ng-minlength="2" max="12" min="0"
                                   ng-model="card.exp_month">
                        </div>
                        <div class='col-xs-4 form-group expiration required'>
                            <label class='control-label'> </label>
                            <input type="number" class='form-control card-expiry-year' placeholder='AAAA' size='4' ng-minlength="4" max="2100" min="2014"
                                   ng-model="card.exp_year">
                        </div>
                    </div>
                    <div class='form-row'>
                        <div class='col-md-12 error form-group' ng-show="showError">
                            <div class='alert-danger alert'>
                                {{errorMessage}}
                            </div>
                        </div>
                    </div>
                </form>


                <button class="btn btn-info pull-left" type="button" ng-click="setStep(1)">Atrás</button>
                <button class="btn btn-primary pull-right" type="button" ng-click="setPayData()">Siguiente</button>

            </div>
        </div>
    </div>
    <div class="row setup-content" id="step-3" ng-show="isStep(3)">
        <div class="col-xs-12">
            <div class="well col-md-6 col-md-offset-3">

                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>Plan Seleccionado</strong>
                        <br>
                        {{selectedPlan.name}}
                        <br>
                    </address>
                </div>

                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <strong>Tarjeta</strong>
                    </p>

                    <p>
                        <em>{{last4}}</em>
                    </p>

                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                    <hr/>
                    <h4><strong>Total: {{selectedPlan.price.amount | currency}} {{plan.price.currency}}</strong></h4>
                    <hr/>
                </div>

                <button class="btn btn-info pull-left" type="button" ng-click="setStep(2)">Atrás</button>

                <button type="button" class="btn btn-success pull-right">
                    Pagar Ahora   <span class="glyphicon glyphicon-chevron-right"></span>
                </button>

            </div>
        </div>
    </div>
</form>
</div>