<!-- Main content -->
<div class="container-fluid">

    <div class="row">
        <div class="panel-header">
            <button class="btn btn-info">Estadísticas</button>
            <a href="#/branches" class="btn btn-info">Sucursales</a>
            <a href="#/branches/logs" class="btn btn-info">Historial Llamadas/Mensajes</a>
        </div>
    </div>

    <!-- Small boxes (Stat box) -->
    <div class="row top-buffer">

        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" ng-model="selectedDate" data-date-format="MMMM yyyy" date-type="string"
                       data-min-view="1"
                       bs-datepicker
                       class="form-control" placeholder="Mes de búsqueda" aria-describedby="sizing-addon">
            </div>
            <!-- /input-group -->
            <label class="text-center"><strong>{{selectedRange}}</strong></label>
        </div>
        <!-- /.col-lg-6 -->

        <button class="btn btn-primary" ng-click="applyMonthlyFilter()">Aplicar filtro</button>

    </div>
    <!-- /.row -->

    <div class="row">

        <!-- Llamadas -->
        <div class="col-md-6">

            <h2 class="text-center tattler-blue-header">Llamadas sucursales</h2>

            <nvd3-line-chart
                    class="col-md-12"
                    data="callStats.statByDate"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    x="xFunction()"
                    y="yFunction()"
                    xAxisTickFormat="xAxisTickFormat()"
                    useInteractiveGuideLine="true"
                    tooltips="true">
                <svg></svg>
            </nvd3-line-chart>

            <table ng-table class="table table-bordered table-condensed" template-pagination="empty-pager">
                <tr ng-repeat="branch in callStats.statByBranch">
                    <td data-title="'Sucursales'">
                        {{branch.name}}
                    </td>
                    <td data-title="'Llamadas'" class="text-right">
                        {{branch.count}}
                    </td>
                    <td data-title="'%'" class="text-right">
                        {{branch.percent}}
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>{{callStats.totalBranch}}</strong></td>
                    <td class="text-right"><strong>100%</strong></td>
                </tr>
            </table>

            <script type="text/ng-template" id="empty-pager"></script>

        </div>
        <!-- /-Llamadas -->

        <!-- Mensajeria -->
        <div class="col-md-6">

            <h2 class="text-center tattler-blue-header">Mensajería sucursales</h2>

            <nvd3-line-chart
                    class="col-md-12"
                    data="messageStats.statByDate"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    x="xFunction()"
                    y="yFunction()"
                    xAxisTickFormat="xAxisTickFormat()"
                    useInteractiveGuideLine="true"
                    tooltips="true">
                <svg></svg>
            </nvd3-line-chart>

            <table ng-table class="table table-bordered table-condensed" template-pagination="empty-pager">
                <tr ng-repeat="branch in messageStats.statByBranch">
                    <td data-title="'Sucursales'">
                        {{branch.name}}
                    </td>
                    <td data-title="'Mensajería'" class="text-right">
                        {{branch.count}}
                    </td>
                    <td data-title="'%'" class="text-right">
                        {{branch.percent}}
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>{{messageStats.totalBranch}}</strong></td>
                    <td class="text-right"><strong>100%</strong></td>
                </tr>
            </table>

        </div>
        <!-- /-Mensajeria -->

        <!-- Contactos -->
        <div class="col-md-6">

            <h2 class="text-center tattler-blue-header">Contactos sucursales</h2>

            <nvd3-line-chart
                    class="col-md-12"
                    data="contactStats.statByDate"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    x="xFunction()"
                    y="yFunction()"
                    xAxisTickFormat="xAxisTickFormat()"
                    useInteractiveGuideLine="true"
                    tooltips="true">
                <svg></svg>
            </nvd3-line-chart>

            <table ng-table class="table table-bordered table-condensed" template-pagination="empty-pager">
                <tr ng-repeat="branch in contactStats.statByBranch">
                    <td data-title="'Sucursales'">
                        {{branch.name}}
                    </td>
                    <td data-title="statType" class="text-right">
                        {{branch.count}}
                    </td>
                    <td data-title="'%'" class="text-right">
                        {{branch.percent}}
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>{{contactStats.totalBranch}}</strong></td>
                    <td class="text-right"><strong>100%</strong></td>
                </tr>
            </table>

        </div>
        <!-- /-Contactos -->

        <!-- Promociones Registradas -->
        <div class="col-md-6">

            <h2 class="text-center tattler-blue-header">Promociones sucursales</h2>

            <nvd3-line-chart
                    class="col-md-12"
                    data="registeredPromotionStats.statByDate"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    x="xFunction()"
                    y="yFunction()"
                    xAxisTickFormat="xAxisTickFormat()"
                    useInteractiveGuideLine="true"
                    tooltips="true">
                <svg></svg>
            </nvd3-line-chart>

            <table ng-table class="table table-bordered table-condensed" template-pagination="empty-pager">
                <tr ng-repeat="branch in registeredPromotionStats.statByBranch">
                    <td data-title="'Sucursales'">
                        {{branch.name}}
                    </td>
                    <td data-title="'Promociones registradas'" class="text-right">
                        {{branch.count}}
                    </td>
                    <td data-title="'%'" class="text-right">
                        {{branch.percent}}
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>{{registeredPromotionStats.totalBranch}}</strong></td>
                    <td class="text-right"><strong>100%</strong></td>
                </tr>
            </table>

        </div>
        <!-- /-Promociones Registradas -->

        <!-- Promociones Vistas -->
        <div class="col-md-6">

            <h2 class="text-center tattler-blue-header">Promociones Vistas</h2>

            <nvd3-line-chart
                    class="col-md-12"
                    data="viewedPromotionStats.statByDate"
                    height="300"
                    showXAxis="true"
                    showYAxis="true"
                    x="xFunction()"
                    y="yFunction()"
                    xAxisTickFormat="xAxisTickFormat()"
                    useInteractiveGuideLine="true"
                    tooltips="true">
                <svg></svg>
            </nvd3-line-chart>

            <table ng-table class="table table-bordered table-condensed" template-pagination="empty-pager">
                <tr ng-repeat="dateDetail in viewedPromotionStats.statByDateDetail">
                    <td data-title="'Fecha'">
                        {{dateDetail.date | date:'dd-MMMM'}}
                    </td>
                    <td data-title="'Visitas'" class="text-right">
                        {{dateDetail.count}}
                    </td>
                    <td data-title="'%'" class="text-right">
                        {{dateDetail.percent | number:2}}
                    </td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td class="text-right"><strong>{{viewedPromotionStats.totalBranch}}</strong></td>
                    <td class="text-right"><strong>100%</strong></td>
                </tr>
            </table>

        </div>
        <!-- /-Promociones Vistas -->

    </div>

</div>