<div class="container-fluid">
        <div class="form-box" id="login-box">
            <div class="header tattler-background">
                <img src="components/app-data/img/login/logoTattler.png" alt="tattler" >
            </div>
            <form role="form" novalidate name="userForm" ng-submit="UserLogin()" ng-class="showValidation ? 'validate' : ''">
                <div class="body">
                
                <h2 id="welcome" class="text-center">{{welcome}}</h2>
                
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="e-mail" name="userName" id="emailfield" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" data-ng-model="loginData.userName" autofocus required/>
                        <div class="error" ng-show="showValidation">
                            {{getError(userForm.userName.$error)}}
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="passwordfield" class="form-control" placeholder="Contrase&ntilde;a" data-ng-model="loginData.password" ng-Minlength="6" required/>
                        <div class="error" ng-show="showValidation" >
                            {{getError(userForm.password.$error)}}
                        </div>
                    </div>          
                    <div class="form-group">
                        <input type="checkbox" data-ng-model="loginData.useRefreshTokens" name="remember_me"/> No cerrar sesi&oacute;n
                    </div>
                </div>
                <div class="footer text-center">                                                               
                    <button type="submit" class="btn btn-primary submit-button-text btn-block" ng-disabled="submitProgress">Iniciar sesi&oacute;n</button>
                    <p><a href="#/login/recover">¿Olvid&oacute; su contrase&ntilde;a?</a></p>
                </div>            
                <div ng-class="successfull ? 'alert alert-success alert-dismissable' : 'alert alert-warning alert-dismissable'" ng-show="showMessage">
                    <div class="text-center" ng-show="successfull"><strong>Gracias por contactarnos,</strong> en breve nos comunicaremos con usted.</div>
                    <div class="text-center" ng-hide="successfull">{{message}}</div>
                </div>
            </form>
        </div>
        <div class="register-box">
            <div class="register-header tattler-background">
                ¡Registrate es gratis!
            </div>
            <div class="register-body">
                <a class="btn btn-primary submit-button-text btn-block" href="#/register" role="button">Registrar empresa</a>
            </div>
        </div>
</div>