<div class="container-fluid">
        <div class="form-box" id="login-box">
            <div class="header tattler-background">
                <img src="components/app-data/img/login/logoTattler.png" class="img-responsive img-responsive-center" alt="tattler" >
            </div>
            <form role="form" novalidate name="userForm" ng-submit="recover(user)" ng-class="showValidation ? 'validate' : ''">
                <div class="body" ng-hide="successfull">
                    <h3 class="text-center">Recupera tu cuenta</h3><hr>
                    <div class="form-group">
                        <input class="form-control" type="email" placeholder="Introduzca su Correo Electr&oacute;nico" name="email" id="emailfield" ng-pattern="/\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*/" ng-model="user.email" required/>
                        <div class="error" ng-show="showValidation">
                            {{getError(userForm.email.$error)}}
                        </div>
                    </div>       
                </div>
                <div class="footer text-center">                                                               
                    <button ng-hide="successfull" type="submit" class="btn btn-primary submit-button-text btn-block" ng-disabled="submitProgress">Buscar</button>
                    <p><a href="#/login">Ir al inicio de sesi&oacute;n</a></p>
                    <div ng-class="successfull ? 'alert alert-success alert-dismissable' : 'alert alert-warning alert-dismissable'" ng-show="showMessage">
                        <div class="text-center" ng-show="successfull"><strong>Listo, ahora verifique su correo electr&oacute;nico y siga los pasos que se le indican.</strong></div>
                        <div class="text-center" ng-hide="successfull"><strong>No hay resultados de su busqueda, si desea puede intentar de nuevo.</strong></div>
                    </div>
                    
                </div>            

            </form>
        </div>
        <div class="register-box">
            <div class="register-header tattler-background">
                ¡Registrate es gratis!
            </div>
            <div class="register-body">
                <a class="btn btn-primary submit-button-text btn-block" href="#/register" role="button">Registrar empresa</a>
            </div>
        </div>
</div>