<div class="container-fluid">
        <div class="form-box" id="login-box">
            <div class="header tattler-background">
                <img src="components/app-data/img/login/logoTattler.png" class="img-responsive img-responsive-center" alt="tattler" >
            </div>
            <form role="form" novalidate name="userForm" ng-submit="recoverAccount(user)" ng-class="showValidation ? 'validate' : ''">
                <div class="body" ng-hide="successfull">
                    <h3 class="text-center">Restablecer la contraseña</h3><hr>   
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Contrase&ntilde;a" ng-Minlength="8" ng-model="user.password" required/>
                        <div class="error" ng-show="showValidation">
                            {{getError(userForm.password.$error)}}
                        </div>                      
                    </div>
                    <div class="form-group">
                        <label class="sr-only">Password</label>
                        <input type="password" name="confirmPassword" class="form-control" placeholder="Confirmar contrase&ntilde;a" ng-Minlength="8" ng-model="user.confirmPassword" required data-password-verify="user.password" required/>
                        <div class="error" ng-show="showValidation">
                            {{getError(userForm.confirmPassword.$error)}}
                        </div>
                    </div> 
                </div>
                <div class="footer text-center">                                                               
                    <button ng-hide="successfull" type="submit" class="btn btn-primary submit-button-text btn-block" ng-disabled="submitProgress">Aceptar</button>
                    <p><a href="#/login">Ir al inicio de sesi&oacute;n</a></p>
                    <div ng-class="successfull ? 'alert alert-success alert-dismissable' : 'alert alert-warning alert-dismissable'" ng-show="showMessage">
                        <div class="text-center" ng-show="successfull"><strong>Listo, se ha restablecido la contraseña</strong></div>
                        <div class="text-center" ng-hide="successfull"><strong>Lo sentimos, no se restableci&oacute; con &eacute;xito la contrase&ntilde;a.</strong></div>
                    </div>
                </div> 
            </form>
        </div>
        <div class="register-box">
            <div class="register-header tattler-background">
                ¡Registrate es gratis!
            </div>
            <div class="register-body">
                <a class="btn btn-primary submit-button-text btn-block" href="#/register" role="button">Registrar empresa</a>
            </div>
        </div>
</div>