<div class="container-fluid">

    <div class="page-head">
        <div class="row">
            <label class="col-md-1" >Buscar Contacto:</label>
            <div class="col-md-4">
                <input type="text" class="form-control spacer-bottom" ng-model="search" />
            </div>
        </div>
    </div>

    <div class="row-fluid">

        <div class="col-md-4" ng-repeat="contact in contacts | filter:search">
            <div class="box box-info">
                <div class="box-header">
                    <h2 class="box-title">{{contact.name}} {{contact.last_name}}</h2>
                </div>
                <div class="box-body contact-body">
                    <div class="col-md-4">
                        <div class="user-image">
                            <!--<img src="https://farm7.staticflickr.com/6163/6195546981_200e87ddaf_b.jpg" class="img-responsive image-thumbnail">-->
                            <img ng-src="{{contact.profile_image}}" class="img-responsive image-thumbnail">
                        </div>
                    </div>
                    <div class="col-md-8">

                    </div>
                </div>
                <div class="box-footer contact-footer-body">
                    <button class="btn btn-info pull-right" ng-hide="true">Ver Contacto</button>
                </div>
            </div>
        </div>

    </div>
</div>

