.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:350px;
}

#phoneContainer{
	width: 207px;
	height: 410px;
	margin: auto auto 25px;
}

#phoneContainer > img{
	position: absolute;
	z-index: 1000;
}

.carouselContainer{
	margin: auto;
	padding-top: 62px;
}

.carouselContainer img{
	width: 182px;
	height: 307px;
}

.promotion-image{
	max-width: 50px;
	max-height: 50px;
}

.status .panel-title {
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	font-weight: bold;
	color: #fff;
	line-height: 25px;
	padding-top: 5px;
	letter-spacing: -0.8px;
}

.btn-header{
	margin-bottom: 20px;
}