<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner text-center text-bold">
                    <h4 class="text-bold">
                        Visitas Promociones
                    </h4>
                    <p ng-if="false">
                        666 visitas / 1000 visitas
                    </p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#/promotions" class="small-box-footer">
                    Promociones <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner text-center text-bold">
                    <h4 class="text-bold">
                        Alcance General
                    </h4>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#/branches" class="small-box-footer">
                    Sucursales <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner text-center text-bold">
                    <h4 class="text-bold">
                        Alcance General
                    </h4>
                    <h3 class="text-bold">
                        {{contacts}}
                    </h3>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#/contacts" class="small-box-footer">
                    Contactos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner text-center text-bold">
                    <h3 class="text-bold">
                        Tattler Adwords
                    </h3>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#/adwords/new" class="small-box-footer">
                    Promocionar empresa <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner text-center text-bold">
                    <h4 class="text-bold">
                        Alcance Global Minutos
                    </h4>
                    <h3 class="text-bold" ng-if="false">
                        780 / 1000 min
                    </h3>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#/branches/logs" class="small-box-footer">
                    Llamadas <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-4 col-xs-6">
            <!-- small box -->
            <div class="small-box bg-blue">
                <div class="inner text-center text-bold">
                    <h3 class="text-bold" ng-if="false">
                        231
                    </h3>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#/branches/statistics" class="small-box-footer">
                    Favoritos <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->

</div>